extends ../layout.pug

block content
  .info_shikinkessai
    p 資金決済法第13条に基づく表示
    table
      tr
        td 前払式支払手段発行者の氏名
        td
      tr
        td 前払式支払手段の支払可能金額等
        td
      tr
        td 役務の提供を受ける場合に、役務の提供を請求することができる期間又は期限
        td
      tr
        td 前払式支払手段の発行及び利用に関する利用者からの苦情又は相談に応ずる営業所又は事務所の所在地及び連絡先
        td
      tr
        td 前払式支払手段を使用することができる施設又は場所の範囲
        td
      tr
        td 前払式支払手段の利用上の必要な注意
        td
      tr
        td 電磁的方法により金額（金額を度その他の単位により換算して表示していると認められる場合の当該単位数を含む。以下この号において同じ。）又は物品若しくは役務の数量を記録している前払式支払手段にあっては、その未使用残高（法第三条第一項第一号 の前払式支払手段にあっては代価の弁済に充てることができる金額をいい、同項第二号 の前払式支払手段にあっては給付又は提供を請求することができる物品又は役務の数量をいう。）又は当該未使用残高を知ることができる方法
        td
      tr
        td 前払式支払手段の利用に係る約款若しくは説明書又はこれらに類する書面（以下この条において「約款等」という。）が存する場合には、当該約款等の存する旨
        td
