extends ../layout.pug

block content
  .info_tokushou
    p 特定商取引法に基づく表記
    table
      tr
        td 役務の対価
        td
      tr
        td 対価の支払い時期、方法
        td
      tr
        td 役務の提供時期
        td
      tr
        td 指定権利の売買契約の申込みの撤回又は解除に関する事項
        td
      tr
        td 事業者の氏名、住所、電話番号
        td
      tr
        td 商品に隠れた瑕疵がある場合に、販売業者の責任についての定め
        td
      tr
        td ソフトウェアの動作環境
        td
      tr
        td 商品の販売数量の制限等、特別な役務提供条件
        td
