extends ../layout.pug

block content
  .users_signin
    form(action='/users/signin', method='post')
      p= message
      p username
      input.input_username(type='text', name='username', id='username')
      p password
      input.input_password(type='password', name='password', id='password')
      input.input_submit.basic_button(type='submit', value='signin')
